<html>
   <body>
<script>

function deleteFun(mn){
var mn1 = mn
    console.log("calld", mn1);

    window.location = 'http://localhost:5000/deletemovie/' + mn1
    
}

function editFun(mn){
var mn1 = mn
    console.log("calld", mn1);

    window.location = 'http://localhost:5000/editmovie/' + mn1
    
}
</script>
<table>
    <th>Movie Name</th>
<th> Location </th>
<th> Timings </th>
     {% for item in data %}
    <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
<td> <button onClick="deleteFun('{{item[0]}}')">Delete</button> </td>
<td> <button onClick="editFun('{{item[0]}}')">Edit</button> </td>
    </tr>
    
{% endfor %}
</table>
   </body>
</html>
